<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.librarysimplified.deployment_testing">

  <application
    android:name="org.librarysimplified.deploytest.app.BreakoutApplication"
    android:allowBackup="true"
    android:icon="@drawable/pizza128"
    android:contentDescription="SECID">

    <!-- Main entry point for the application. -->
    <activity
      android:name="org.librarysimplified.deploytest.app.BreakoutActivity"
      android:contentDescription="SECID"
      android:screenOrientation="portrait"
      android:exported="true"
      android:label="SECID">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
